<div class="row justify-content-center mt-4">
    ©2014–2020 Kaique de Queiroz
</div>
<div class="row mb-4 mx-5 justify-content-center">
    Made with love, using <a href="https://www.11ty.dev/" target="_blank">11ty</a> and <a href="https://zeit.co" target="_blank">Zeit</a>.
</div>
